{
}

(tls) {
	encode gzip
}

# Cache static files for 60 days
(static) {
	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.json
	}
	header @static Cache-Control max-age=5184000
}

(security) {
	header * {
		-Server
		Server "Apache/2"
		Powered-By "nodejs"
		# ****** Security - Use in Production ******
		# Strict-Transport-Security "max-age=30758400"
		# X-Content-Type-Options            "nosniff"
		# X-Frame-Options                   "deny"
		# X-XSS-Protection          "1; mode=block"
		# Referrer-Policy                   "same-origin"
		# ****** End Security ******
		-x-powered-by
	}
}

# <DOMÍNIO_DA_APLICAÇÃO> {
#   @websockets {
#     header Connection *Upgrade*
#     header Upgrade    websocket
#   }

#   import security
#   import static

#   reverse_proxy /socket.io/* {APP_PROJECT_NAME}-socket:6001 {
#     header_up Host {host}
#     header_up X-Real-IP {remote}
#   }

#   reverse_proxy @websockets {APP_PROJECT_NAME}-socket:6001 {
#     header_up Host {host}
#     header_up X-Real-IP {remote_host}
#     header_up X-Forwarded-For {remote_host}
#     header_up X-Forwarded-Proto {scheme}
#   }

#   reverse_proxy * {APP_PROJECT_NAME}-nginx:80
# }

# sinazure.localhost {
# 	reverse_proxy sinazure.back:80
# }

# scriptpage.admin.localhost {
# 	reverse_proxy scriptpage.admin.front:5173
# 	@ws {
# 		header Connection *Upgrade*
# 		header Upgrade websocket
# 	}
# }


rhural.localhost {
	root * /var/www/rhural
	file_server
	@ws {
		header Connection *Upgrade*
		header Upgrade websocket
	}
}
